{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<!-- style -->
<style>
    #map-and-tools {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    #map {
        width: 100%; 
        height: 400px;
    }
    #tools {
        width: 60%;
        height: 400px;
    }
</style>

<!-- Form -->
<section>
    <div class="content">
        <header>
            <h1>Map Digitizer</h1>
            <p>Digitize boundary outlines from a map.</p>
        </header>
        <div>
            <div id="map-input">
                <input type="url" placeholder="URL to map image" value="{{ source }}" oninput="setImageSource(this.value)">
            </div>
            <div id="map-and-tools">
                <div id="map">
                </div>
                <div id="tools" class="box">
                    <button style="float:right" class="small">Add new</button>
                    <h3>Boundaries</h3>
                    <table>
                        <thead>
                            <th>Name</th>
                            <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Some dynamic javascript functionality -->

<script>
    // https://stackoverflow.com/questions/63086424/openlayers-dynamic-image-sizes

    // image pixel projection
    const projection = new ol.proj.Projection({
        code: 'pixel-map',
        units: 'pixels',
        extent: [0, 0, 10000, 10000],
    });

    // map layer
    var mapLayer = new ol.layer.Image({});
    function setImageSource (url) {
        // clear old source
        mapLayer.setSource();
        if (!url) {
            url = 'https://www.av.se/Static/images/placeholder.png';
        };
        // what to do on image load
        const img = document.createElement('img');
        img.onload = function() {
            // get image extent
            const extent = [0, 0, img.width, img.height];
            // set source
            mapLayer.setSource(
                new ol.source.ImageStatic({
                    url: url,
                    imageExtent: extent,
                }),
            );
            // zoom to image extent
            map.getView().fit(mapLayer.getSource().getImageExtent())
        };
        // begin loading image
        img.src = url;
    };
    testUrl = "https://www.worldatlas.com/upload/25/30/5f/regions-of-burkina-faso-map.png";
    setImageSource(testUrl);

    // map
    var layers = [mapLayer];
    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults().extend([new ol.control.FullScreen(),
                                                new ol.control.ScaleLine({units: 'metric'}),
                                                ]),
        layers: layers,
        view: new ol.View({
            projection,
            center: [0,0], //getCenter(extent),
            zoom: 2
        })
    });

</script>

{% endblock %}
