{% load static %}

{% block map_digitizer %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easytabs.js' %}" type="text/javascript"></script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->

<!-- style -->
<style>
    #map-and-tools {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    #map {
        width: 100%; 
        height: 400px;
    }
    #tab-container {
        width: 60%;
        height: 400px;
    }
</style>

<!-- Form -->
<section>
    <div class="content">
        <div>
            <div id="map-and-tools">

                <div id="map">
                </div>

                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#masking">Mask</a></li>
                        <li class='tab'><a href="#splitlines">Lines</a></li>
                        <li class='tab'><a href="#labelling">Labels</a></li>
                        <li class='tab'><a href="#coastlines">Coastlines</a></li>
                    </ul>

                    <div id="splitlines" class="box">
                        <button style="float:right" class="small">Save</button>
                        <button style="float:right" class="small" onclick="addNewBoundary()">Add new</button>
                        <h3>Splitlines</h3>
                        <table id="boundary-table">
                            <thead>
                                <th>Name</th>
                                <th></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Some dynamic javascript functionality -->

<script>
	$(document).ready(function () { $('#tab-container').easytabs({animate:false}); });

    // https://stackoverflow.com/questions/63086424/openlayers-dynamic-image-sizes

    // image pixel projection
    const projection = new ol.proj.Projection({
        code: 'pixel-map',
        units: 'pixels',
        extent: [0, 0, 10000, 10000],
    });

    // map image layer
    var mapLayer = new ol.layer.Image({});
    function setImageSource (url) {
        // clear old source
        mapLayer.setSource();
        if (!url) {
            url = 'https://www.av.se/Static/images/placeholder.png';
        };
        // what to do on image load
        const img = document.createElement('img');
        img.onload = function() {
            // get image extent
            const extent = [0, 0, img.width, img.height];
            // set source
            mapLayer.setSource(
                new ol.source.ImageStatic({
                    url: url,
                    imageExtent: extent,
                }),
            );
            // zoom to image extent
            map.getView().fit(mapLayer.getSource().getImageExtent())
        };
        // begin loading image
        img.src = url;
    };
    url = "{{ source.url }}";
    setImageSource(url);

    // digitizing layer
    var boundaryLayer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        //style: style,
    });

    // map
    var layers = [mapLayer, boundaryLayer];
    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults().extend([new ol.control.FullScreen(),
                                                new ol.control.ScaleLine({units: 'metric'}),
                                                ]),
        layers: layers,
        view: new ol.View({
            projection,
            center: [0,0], //getCenter(extent),
            zoom: 2
        })
    });

    /////////////////////////////
    // drawing functionality

    let draw; // global so we can remove it later
    function enableDrawInteraction() {
        draw = new ol.interaction.Draw({
            source: boundaryLayer.getSource(),
            type: 'Polygon',
        });
        map.addInteraction(draw);
    };

    function addNewBoundary() {
        newBoundaryRow();
    };

    function newBoundaryRow(data) {
        tbody = document.querySelector('#boundary-table tbody');

        tr = document.createElement('tr');
        tbody.appendChild(tr);

        td = document.createElement('td');
        tr.appendChild(td);
        td.innerHTML = '<input type="text" name="names" autocomplete="off" placeholder="Boundary name(s)">';

        td = document.createElement('td');
        tr.appendChild(td);
        buttons = document.createElement('span');
        td.appendChild(buttons);
        
        addBut = '<button class="small" onclick="editBoundaryRow()">Edit</button>'
        buttons.innerHTML = addBut;
        /*
        addBut = document.createElement('button');
        addBut.className = 'small';
        addBut.innerHTML = 'Draw';
        addBut.onClick = "enableDrawInteraction()";
        buttons.appendChild(addBut);
        */
    };

    function editBoundaryRow(but) {
        enableDrawInteraction();
    };

</script>

{% endblock %}
