{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<style>
    #main-section {
        display:flex;
        flex-direction:row;
        gap:10px;
        width:100%;
    }
    #map-div {
        width:70%;
    }
    #hierarchy-data {
        height:85%;
        overflow:auto;
    }
    #sidepanel {
        width:30%;
        height:400px;
    }
    #info-div {
        height:30%;
        margin-bottom:5px;
    }
    #hierarchy-div {
        height:70%;
    }
    #map {
        width: 100%; 
        height: 400px;
    }
    #boundary-attrs {
        font-style:italic;
    }
</style>

<section>
    <div class="content">
        <header>
            <h2>
                Boundary: &nbsp;
                {% for ref in boundary_ref.get_all_parents reversed %}
                    <a href="{% url 'boundary' ref.pk %}">{{ ref.names.all.0.name }}</a>
                    {% if not forloop.last %}
                    &rarr;
                    {% endif %}
                {% endfor %}
            </h2>
            <p id="boundary-attrs">
                <span id="level">Administrative Level: {{ boundary_ref.level }}</span>
                <br>
                <span id="source">Source: <a href="{% url 'source' boundary_ref.source.id %}">{{ boundary_ref.source.name }}</a></span>
            </p>
        </header>
        <div>            
            <div id="main-section">
                <div id="map-div">
                    <div id="map"></div>
                </div>
                <div id="sidepanel">
                    <div id="info-div" class="box">
                        <h3>Time period</h3>
                        <ul>
                            {% for snap in boundary_ref.snapshots.all %}
                                <li>
                                    <a href="">
                                        {{ snap.event.date_start }}
                                        &rarr;
                                        {{ snap.event.date_end }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="hierarchy-div" class="box">
                        <h3>Subdivisions</h3>
                        <div id="hierarchy-data">
                            <ul>
                                {% for entry in boundary_ref.get_all_children %}
                                    <li>
                                        <a href="{% url 'boundary' entry.item.pk %}">
                                        {{ entry.item.names.all.0.name }}
                                        </a>
                                    </li>
                                    {% if entry.children %}
                                        <ul>
                                        {% for subentry in entry.children %}
                                        <li>
                                            <a href="{% url 'boundary' subentry.item.pk %}">
                                            {{ subentry.item.names.all.0.name }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    /////////////
    // main map

    // layer
    var mainStyle = new ol.style.Style({
        fill: new ol.style.Fill({
            color: 'rgba(220, 220, 255, 0.5)'
        }),
        stroke: new ol.style.Stroke({
            color: 'rgb(29,107,191)',
            width: 2
        }),
    });
    var mainLayer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: mainStyle,
    });
    var hierarchyStyle = new ol.style.Style({
        fill: new ol.style.Fill({
            color: 'rgba(220, 220, 255, 0.5)'
        }),
        stroke: new ol.style.Stroke({
            color: 'rgb(29,107,191)',
            width: 2,
            lineDash: [10,10]
        }),
    });
    var hierarchyLayer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: hierarchyStyle,
    });

    // data
    mainGeojsonData = {{ main_geojson|safe }};
    if (mainGeojsonData) {
        feat = new ol.format.GeoJSON().readFeature(mainGeojsonData, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
        mainLayer.getSource().addFeature(feat);
    };
    hierarchyGeojsonData = {{ hier_geojson|safe }};
    if (hierarchyGeojsonData) {
        feats = new ol.format.GeoJSON().readFeatures(hierarchyGeojsonData, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
        hierarchyLayer.getSource().addFeatures(feats);
    };

    // map
    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults().extend([new ol.control.FullScreen(),
                                                new ol.control.ScaleLine({units: 'metric'}),
                                                ]),
        layers: [
        new ol.layer.Tile({
            source: new ol.source.XYZ({
                attributions: 'Satellite Imagery from Google',
                url:
                'http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}',
                maxZoom: 20,
                crossOrigin: 'anonymous' // necessary for converting map to img during pdf generation: https://stackoverflow.com/questions/66671183/how-to-export-map-image-in-openlayer-6-without-cors-problems-tainted-canvas-iss
            })}),
            mainLayer,
            hierarchyLayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([0,0]),
            zoom: 1
        })
    });

    if (mainGeojsonData) {
        map.getView().fit(mainLayer.getSource().getExtent());
    } else if (hierarchyGeojsonData) {
        map.getView().fit(hierarchyLayer.getSource().getExtent());
    };


</script>

{% endblock %}
