{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<style>
    #img-preview {
        width: 100%;
        min-height: 400px;
    }
</style>

<section>
    <div class="content">
        <header>
            <a class="button" style="float:right" href="{% url 'mapsource_edit' source.pk %}">Edit</a>
            <h2 style="text-align:left">
                Source: &nbsp;&nbsp;{{ source.name }}
            </h2>
            <p>
                <span style="vertical-align:top">Type: 
                Map <img height="20px" style="display:none" src="{% static 'changeManager/images/map.png' %}">
                </span>

                <br>

                <span style="vertical-align:top">URL: 
                <a href="{{ source.url }}">{{ source.url }}</a>
                </span>

                <br>
            
                <span style="vertical-align:top">Citation: 
                {{ source.citation }}
                </span>

                <br>
            
                <span style="vertical-align:top">Source Note: 
                {{ source.note }}
                </span>

                <br>

                <span>Digitized: 
                {% if source.digitizer and source.digitizer.last_digitized %}
                    {{ source.digitizer.last_digitized }}
                {% else %}
                    Never
                {% endif %}
                </span>
            </p>
        </header>

        <div>
            {% include "digitize_map.html" %}
        </div>

    </div>
</section>

{% endblock %}
