{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<section>
    <div class="content">
        <header>
            <h1>Source</h1>

            <div style="float:left;">
                <a href="" style="text-align:center; background-color:orange; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">
                Edit
                </a>
            </div>

            <div style="float:right;">
                <a href="" style="text-align:center; background-color:crimson; color:white; border-radius:10px; padding:7px; font-family:inherit; font-size:inherit; font-weight:bold; text-decoration:underline; margin:3px;">
                    Drop?
                </a>
            </div>

        </header>

        <div>

            <style>
                #id_title {
                    width:60%
                    }
                #id_citation, #id_note, #id_url {
                    width:98%
                    }
            </style>
    
            <h2 style="text-align:center; margin-top:0">
                <img height="25px" src="{% static 'changeManager/images/source.png' %}">{{ pk }}
            </h2>
            <h2 style="text-align:center">
                {{ source.name }}
            </h2>

            <div class="box">
                <div class="row">
                    <span style="width:20%; text-align:right; vertical-align:top">URL</span>
                    <span style="font-weight:normal"><a href="{{ source.url }}">{{ source.url }}</a></span>
                </div>
                <div class="row">
                    <span style="width:20%; text-align:right; vertical-align:top">Citation</span>
                    <span style="font-weight:normal; padding-bottom:20px">{{ source.citation }}</span>
                </div>
                <div class="row">
                    <span style="width:20%; text-align:right; vertical-align:top">Source Note</span>
                    <span style="font-weight:normal; padding-bottom:20px">{{ source.note }}</span>
                </div>
            </div>

            <h3>
                {{ source.boundary_refs.all.count }} boundary definitions
            </h3>

            <table style="width:100%; font-weight:bold; overflow:hidden; border-spacing:0 10px; padding-bottom:100px; padding-left:40px">

                <thead>
                    <tr>
                        <td style="width:65%">Boundary</td>
                        <td style="width:25%">Subdivisions</td>
                        <td style="width:10%"></td>
                    </tr>
                </thead>

                <tbody>
                    {% for ref in source.boundary_refs.all %}
                    <tr>
                        <td>{{ ref.names.first.name }}</td>
                        <td>{{ ref.children.all.count }}</td>
                        <td><a class="button small" href="{% url 'boundary_ref' ref.pk %}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>
</section>

{% endblock %}
