{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<section>
    <div class="content">
        <header>
            <h2 style="text-align:left">
                Source: &nbsp;&nbsp;{{ source.name }}
            </h2>
            <p>
                <span style="vertical-align:top">Type: 
                Dataset <img height="20px" style="display:none" src="{% static 'changeManager/images/source.png' %}">
                </span>

                <br>

                <span style="vertical-align:top">URL: 
                <a href="{{ source.url }}">{{ source.url }}</a>
                </span>

                <br>
            
                <span style="vertical-align:top">Citation: 
                {{ source.citation }}
                </span>

                <br>
            
                <span style="vertical-align:top">Source Note: 
                {{ source.note }}
                </span>
            </p>
        </header>

        <div>

            <style>
                #id_title {
                    width:60%
                    }
                #id_citation, #id_note, #id_url {
                    width:98%
                    }
            </style>

            <h3>
                {{ toplevel_refs.count }} toplevel boundary definitions
            </h3>

            <table style="width:98%; margin-left:2%; font-weight:bold; overflow:hidden; border-spacing:0 10px; padding-bottom:100px; padding-left:40px">

                <thead>
                    <tr>
                        <td style="width:65%">Boundary</td>
                        <td style="width:25%">Subdivisions</td>
                        <td style="width:10%"></td>
                    </tr>
                </thead>

                <tbody>
                    {% for ref in toplevel_refs.all %}
                    <tr>
                        <td>{{ ref.names.first.name }}</td>
                        <td>{{ ref.children.all.count }}</td>
                        <td><a class="button small" href="{% url 'boundary' ref.pk %}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>
</section>

{% endblock %}
