{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<style>
    #main-section {
        display:flex;
        flex-direction:row;
        gap:10px;
        width:100%;
    }

    #queries-div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .query {
        background-color: lightgray;
        border-radius: 10px;
        padding: 5px;
        min-width: 40px;
        text-align: center;
    }

    #map-div {
        width:100%;
    }
    
    #map {
        width: 100%; 
        height: 400px;
    }

    #sidepanel {
        width:50%;
        height:400px;
    }
    #info-div {
        height:100%;
        margin-bottom:5px;
    }

    #info-div ul {
        list-style-type: none;
    }

    #info-div ul li {
        margin-top: 20px;
    }

    #info-div ul li img {
        height: 25px;
    }
    
    #timeline-div {
    }

    .timeline-entry {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    .timeline-entry-date {
        display: flex;
        width: 100px;
        height: 100px;
        background-color: lightgray;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .timeline-entry-content {
        min-height: 100px;
        flex-grow: 1;
    }

</style>

<section>
    <div class="content">
        <header>
            <div id="queries-div">
                <h2>Tracking: </h2>
                {% for name in names %}
                    <h3 class="query">{{ name }}</h3>
                {% endfor %}
            </div>
        </header>

        <div id="main-section">
            <div id="map-div">
                <div id="map"></div>
            </div>
            <div id="sidepanel">
                <div id="info-div" class="box">
                    <ul>
                        <li class="row"><img src="{% static 'images/time.svg' %}"><h3><span id="timeperiod">XXXX-XXXX</span></h3></li>
                        <li class="row"><img src="{% static 'images/dataset.png' %}"><h3><span id="dataset_count">...</span> Datasets</h3></li>
                        <li class="row"><img src="{% static 'images/map.png' %}"><h3><span id="map_count">...</span> Maps</h3></li>
                        <li class="row"><img src="{% static 'images/text.png' %}"><h3 ><span id="text_count">...</span> Texts</h3></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <br>

    <h2>Timeline</h2>

    <div id="timeline-div">
        <div class="timeline-entry">
            <h3 class="timeline-entry-date">
                xxxx-xx-xx
            </h3>
            <div class="timeline-entry-content box">
                ...
            </div>
        </div>
    </div>
    
</section>

<script>
    /////////////
    // main map

    // layer
    var mainStyle = new ol.style.Style({
        fill: new ol.style.Fill({
            color: 'rgba(220, 220, 255, 0.5)'
        }),
        stroke: new ol.style.Stroke({
            color: 'rgb(29,107,191)',
            width: 2
        }),
    });
    var mainLayer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: mainStyle,
    });

    // data
    mainGeojsonData = ''; //{{ main_geojson|safe }};
    if (mainGeojsonData) {
        feat = new ol.format.GeoJSON().readFeature(mainGeojsonData, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
        mainLayer.getSource().addFeature(feat);
    };

    // map
    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults().extend([new ol.control.FullScreen(),
                                                new ol.control.ScaleLine({units: 'metric'}),
                                                ]),
        layers: [
        new ol.layer.Tile({
            source: new ol.source.XYZ({
                attributions: 'Satellite Imagery from Google',
                url:
                'http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}',
                maxZoom: 20,
                crossOrigin: 'anonymous' // necessary for converting map to img during pdf generation: https://stackoverflow.com/questions/66671183/how-to-export-map-image-in-openlayer-6-without-cors-problems-tainted-canvas-iss
            })}),
            mainLayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([0,0]),
            zoom: 1
        })
    });

    if (mainGeojsonData) {
        map.getView().fit(mainLayer.getSource().getExtent());
    };

</script>



<script>
    function getTrackData(names) {
        url = "{% url 'api_track' %}" + '?names=' + names[0];
        console.log(url);
        fetch(url).then(resp=>resp.json()).then(data=>trackDataLoaded(data));
    };

    function trackDataLoaded(data) {
        populateTrackData(data);
        populateTrackSources(data);
    };

    function populateTrackData(data) {
        console.log(data);
        div = document.getElementById('timeline-div');
        div.innerHTML = '';
        for (entry of data.entries) {
            entryDiv = document.createElement('div');
            entryDiv.className = "timeline-entry";
            div.appendChild(entryDiv);

            date = document.createElement('h3');
            date.className = "timeline-entry-date";
            date.innerText = 'xxxx-xx-xx';
            entryDiv.appendChild(date);

            content = document.createElement('div');
            content.className = "timeline-entry-content box";
            mapNum = 1;

            // dataset boundary snapshots
            if (entry.type == 'DataSource') {
                titleDiv = document.createElement('h4');
                titleDiv.className = "row";
                icon = document.createElement('img');
                icon.style = "height:20px"
                icon.src = "{% static 'images/dataset.png' %}";
                titleDiv.appendChild(icon);
                title = document.createElement('h4');
                title.innerHTML = `Boundary Snapshot from ${entry.source}`;
                titleDiv.appendChild(title);
                content.appendChild(titleDiv);
                mapDiv = document.createElement('div');
                mapDiv.id = 'snapshot-map-' + mapNum;
                mapDiv.style = 'width:100%; height:300px';
                content.appendChild(mapDiv);
                details = document.createElement('span');
                details.innerHTML = `${entry.snapshots.length} Boundaries`;
                content.appendChild(details);
                entryDiv.appendChild(content);

                // create and load snapshot map
                createSnapshotMap(mapNum, entry.snapshots);

                mapNum += 1;
            };
            
        };
    };

    function populateTrackSources(data) {
        document.getElementById('dataset_count').innerText = data.datasets.length;
        document.getElementById('map_count').innerText = data.maps.length;
        document.getElementById('text_count').innerText = data.texts.length;
    }

    function createSnapshotMap(mapId, snapshotIds) {
        // layer
        let snapshotLayer = new ol.layer.Vector({
            source: new ol.source.Vector(),
            style: mainStyle,
        });

        // map
        let map = new ol.Map({
            target: 'snapshot-map-' + mapId,
            controls: ol.control.defaults().extend([new ol.control.ScaleLine({units: 'metric'}),
                                                    ]),
            layers: [
            new ol.layer.Tile({
                source: new ol.source.XYZ({
                    attributions: 'Satellite Imagery from Google',
                    url:
                    'http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}',
                    maxZoom: 20,
                    crossOrigin: 'anonymous' // necessary for converting map to img during pdf generation: https://stackoverflow.com/questions/66671183/how-to-export-map-image-in-openlayer-6-without-cors-problems-tainted-canvas-iss
                })}),
                snapshotLayer
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([0,0]),
                zoom: 1
            })
        });

        // add map data
        function addLayerData(data) {
            // TOFIX: have to extract all the geoms due to bad api results
            feats = [];
            for (item of data.results) {
                snapshots = item.object.snapshots;
                if (snapshots.length > 0) {
                    geom = snapshots[0].geom;
                    feat = {type:'Feature', properties:{}, geometry:geom}
                    feats.push(feat);
                };
            };
            coll = {type:'FeatureCollection', features:feats}
            feats = new ol.format.GeoJSON().readFeatures(coll, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
            // add and zoom the data
            snapshotLayer.getSource().addFeatures(feats);
            map.getView().fit(snapshotLayer.getSource().getExtent());
        };
        let snapshotUrl = "{% url 'api_boundaries' %}?ids=" + snapshotIds.join(',');
        fetch(snapshotUrl).then(resp=>resp.json()).then(data=>addLayerData(data));
        
    }

    // get data on startup
    nameList = {{ names|safe }};
    console.log(nameList);
    getTrackData(nameList);

</script>


{% endblock %}
