{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<style>
    #main-section {
        display:flex;
        flex-direction:row;
        gap:10px;
        width:100%;
    }

    #queries-div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .query {
        background-color: lightgray;
        border-radius: 10px;
        padding: 5px;
        min-width: 40px;
        text-align: center;
    }

    #map-div {
        width:100%;
    }
    
    #map {
        width: 100%; 
        height: 400px;
    }

    #sidepanel {
        width:50%;
        height:400px;
    }
    #info-div {
        height:100%;
        margin-bottom:5px;
    }

    #info-div ul {
        list-style-type: none;
    }

    #info-div ul li {
        margin-top: 20px;
    }

    #info-div ul li img {
        height: 25px;
    }
    
    #timeline-div {
    }

    .timeline-entry {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    .timeline-entry-date {
        display: flex;
        width: 100px;
        height: 100px;
        background-color: lightgray;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .timeline-entry-content {
        min-height: 100px;
        flex-grow: 1;
    }

</style>

<section>
    <div class="content">
        <header>
            <div id="queries-div">
                <h2>Tracking: </h2>
                {% for name in names %}
                    <h3 class="query">{{ name }}</h3>
                {% endfor %}
            </div>
        </header>

        <div id="main-section">
            <div id="map-div">
                <div id="map"></div>
            </div>
            <div id="sidepanel">
                <div id="info-div" class="box">
                    <ul>
                        <li class="row"><img src="{% static 'images/time.svg' %}"><h3><span id="timeperiod">XXXX-XXXX</span></h3></li>
                        <li class="row"><img src="{% static 'images/dataset.png' %}"><h3><span id="dataset_count">...</span> Datasets</h3></li>
                        <li class="row"><img src="{% static 'images/map.png' %}"><h3><span id="map_count">...</span> Maps</h3></li>
                        <li class="row"><img src="{% static 'images/text.png' %}"><h3 ><span id="text_count">...</span> Texts</h3></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <br>

    <div class="dropdown" style="float:right">
        <button onclick="addDropdownClicked()" class="dropdown-button">+</button>
        <div id="addDropdown" class="dropdown-content">
            <a href="{% url 'datasource_add' %}">Data Source</a>
            <a href="{% url 'mapsource_add' %}">Map Source</a>
            <a href="{% url 'textsource_add' %}">Text Source</a>
        </div>
    </div>

    <style>
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 80px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}
    </style>

    <script>
        function addDropdownClicked() {
            document.getElementById("addDropdown").classList.toggle("show");
        };

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropdown-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        };
    </script>

    <h2>Timeline</h2>

    <div id="timeline-div">
        <div class="timeline-entry">
            <h3 class="timeline-entry-date">
                xxxx-xx-xx
            </h3>
            <div class="timeline-entry-content box">
                ...
            </div>
        </div>
    </div>
    
</section>

<script>
    /////////////
    // main map

    // styling
    function getLargestGeom(feature) {
        // create a geometry that defines where the label will be display
        var geom = feature.getGeometry();
        if (geom.getType() == 'Polygon') {
            // polygon
            // place label at the bbox/center of the polygon
            var extent = feature.getGeometry().getExtent();
            var newGeom = ol.geom.Polygon.fromExtent(extent);
        } else {
            // multi polygon
            // place label at the bbox/center of the largest polygon
            var largestGeom = null;
            var largestArea = null;
            for (poly of geom.getPolygons()) {
                var extent = poly.getExtent();
                var extentGeom = ol.geom.Polygon.fromExtent(extent);
                var extentArea = extentGeom.getArea();
                if (extentArea > largestArea) {
                    largestGeom = extentGeom;
                    largestArea = extentArea;
                };
            };
            var newGeom = largestGeom;
            
        };
        return newGeom;
    };

    var mainStyle = new ol.style.Style({
        fill: new ol.style.Fill({
            color: 'rgba(220, 220, 255, 0.5)'
        }),
        stroke: new ol.style.Stroke({
            color: 'rgb(29,107,191)',
            width: 2
        })
    });

    var textStyle = new ol.style.Style({
        text: new ol.style.Text({
            font:'15px sans-serif',
            overflow:true,
            stroke: new ol.style.Stroke({
                color: 'rgb(255,255,255)',
                width: 2
            })
        }),
        geometry: getLargestGeom
    });

    function mainGetStyle(feature) {
        let _textStyle = textStyle.clone();
        // set name label
        let name = feature.get('names')[0]; // ignore alt names
        _textStyle.getText().setText(name);
        return [mainStyle, _textStyle];
    };

    // layer
    var mainLayer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: [mainStyle,textStyle],
    });

    // data
    mainGeojsonData = ''; //{{ main_geojson|safe }};
    if (mainGeojsonData) {
        feat = new ol.format.GeoJSON().readFeature(mainGeojsonData, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
        mainLayer.getSource().addFeature(feat);
    };

    // map
    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults().extend([new ol.control.FullScreen(),
                                                new ol.control.ScaleLine({units: 'metric'}),
                                                ]),
        layers: [
        new ol.layer.Tile({
            source: new ol.source.XYZ({
                attributions: 'Satellite Imagery from Google',
                url:
                'http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}',
                maxZoom: 20,
                crossOrigin: 'anonymous' // necessary for converting map to img during pdf generation: https://stackoverflow.com/questions/66671183/how-to-export-map-image-in-openlayer-6-without-cors-problems-tainted-canvas-iss
            })}),
            mainLayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([0,0]),
            zoom: 1
        })
    });

    if (mainGeojsonData) {
        map.getView().fit(mainLayer.getSource().getExtent());
    };

</script>



<script>
    function getTrackData(names) {
        url = "{% url 'api_track' %}" + '?names=' + names[0];
        console.log(url);
        fetch(url).then(resp=>resp.json()).then(data=>trackDataLoaded(data));
    };

    function trackDataLoaded(data) {
        populateTrackData(data);
        populateTrackSources(data);
    };

    function populateTrackData(data) {
        console.log(data);
        div = document.getElementById('timeline-div');
        div.innerHTML = '';
        mapNum = 1;
        for (entry of data.entries) {
            entryDiv = document.createElement('div');
            entryDiv.className = "timeline-entry";
            div.appendChild(entryDiv);

            date = document.createElement('h3');
            date.className = "timeline-entry-date";
            valid_from = entry.valid_from.slice(0, 4);
            valid_to = entry.valid_to.slice(0, 4);
            date.innerText = `${valid_from} - ${valid_to}`;
            entryDiv.appendChild(date);

            content = document.createElement('div');
            content.className = "timeline-entry-content box";

            // dataset boundary snapshots
            if (entry.type == 'DataSource') {
                titleDiv = document.createElement('h4');
                titleDiv.className = "row";
                icon = document.createElement('img');
                icon.style = "height:20px"
                icon.src = "{% static 'images/dataset.png' %}";
                titleDiv.appendChild(icon);
                title = document.createElement('h4');
                sourceLink = `<a href="/source/${entry.source_id}">${entry.source}</a>`;
                title.innerHTML = `Boundary Snapshot from ${sourceLink}`;
                titleDiv.appendChild(title);
                content.appendChild(titleDiv);
                mapDiv = document.createElement('div');
                mapDiv.id = 'snapshot-map-' + mapNum;
                mapDiv.style = 'width:100%; height:300px';
                content.appendChild(mapDiv);
                details = document.createElement('span');
                details.innerHTML = `${entry.snapshots.length} Boundaries`;
                content.appendChild(details);
                entryDiv.appendChild(content);

                // create and load snapshot map
                createSnapshotMap(mapNum, entry.snapshots);

                mapNum += 1;
            };

            // map boundary snapshots
            if (entry.type == 'MapSource') {
                titleDiv = document.createElement('h4');
                titleDiv.className = "row";
                icon = document.createElement('img');
                icon.style = "height:20px"
                icon.src = "{% static 'images/map.png' %}";
                titleDiv.appendChild(icon);
                title = document.createElement('h4');
                sourceLink = `<a href="/source/${entry.source_id}">${entry.source}</a>`;
                title.innerHTML = `Map Snapshot from ${sourceLink}`;
                titleDiv.appendChild(title);
                content.appendChild(titleDiv);
                mapDiv = document.createElement('div');
                mapDiv.id = 'snapshot-map-' + mapNum;
                mapDiv.style = 'width:100%; height:300px';
                content.appendChild(mapDiv);
                details = document.createElement('span');
                details.innerHTML = `${entry.snapshots.length} Boundaries`;
                content.appendChild(details);
                entryDiv.appendChild(content);

                // create and load snapshot map
                createMapSourceMap(mapNum, entry.source_url, entry.snapshots);

                mapNum += 1;
            };
            
        };
    };

    function populateTrackSources(data) {
        valid_froms = [];
        valid_tos = [];
        for (entry of data.entries) {
            valid_froms.push(entry.valid_from);
            valid_tos.push(entry.valid_to);
        };
        valid_froms.sort();
        valid_from = valid_froms[0].slice(0, 4);
        valid_tos.sort();
        valid_to = valid_tos[valid_tos.length-1].slice(0, 4);
        document.getElementById('timeperiod').innerText = `${valid_from} - ${valid_to}`;
        document.getElementById('dataset_count').innerText = data.datasets.length;
        document.getElementById('map_count').innerText = data.maps.length;
        document.getElementById('text_count').innerText = data.texts.length;
    }

    function createSnapshotMap(mapId, snapshotIds) {
        // layer
        let snapshotLayer = new ol.layer.Vector({
            source: new ol.source.Vector(),
            style: mainGetStyle,
        });

        // map
        let map = new ol.Map({
            target: 'snapshot-map-' + mapId,
            controls: ol.control.defaults().extend([new ol.control.ScaleLine({units: 'metric'}),
                                                    ]),
            layers: [
            new ol.layer.Tile({
                source: new ol.source.XYZ({
                    attributions: 'Satellite Imagery from Google',
                    url:
                    'http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}',
                    maxZoom: 20,
                    crossOrigin: 'anonymous' // necessary for converting map to img during pdf generation: https://stackoverflow.com/questions/66671183/how-to-export-map-image-in-openlayer-6-without-cors-problems-tainted-canvas-iss
                })}),
                snapshotLayer
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([0,0]),
                zoom: 1
            })
        });

        // add map data
        function addLayerData(data) {
            feats = new ol.format.GeoJSON().readFeatures(data, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
            // add and zoom the data
            snapshotLayer.getSource().addFeatures(feats);
            map.getView().fit(snapshotLayer.getSource().getExtent());
        };
        let snapshotUrl = "{% url 'api_snapshots' %}?ids=" + snapshotIds.join(',');
        fetch(snapshotUrl).then(resp=>resp.json()).then(data=>addLayerData(data));
        
    }

    function createMapSourceMap(mapId, mapUrl, snapshotIds) {
        // image pixel projection
        const projection = new ol.proj.Projection({
            code: 'pixel-map',
            units: 'pixels',
            extent: [0, 0, 10000, 10000],
        });

        // snapshot layer
        let snapshotLayer = new ol.layer.Vector({
            source: new ol.source.Vector(),
            style: mainGetStyle,
        });

        // map image layer
        let mapLayer = new ol.layer.Image({});
        function setImageSource (url) {
            // clear old source
            mapLayer.setSource();
            if (!url) {
                url = 'https://www.av.se/Static/images/placeholder.png';
            };
            // what to do on image load
            const img = document.createElement('img');
            img.onload = function() {
                // get image extent
                const extent = [0, 0, img.width, img.height];
                // set source
                mapLayer.setSource(
                    new ol.source.ImageStatic({
                        url: url,
                        imageExtent: extent,
                    }),
                );
                // zoom to image extent
                //map.getView().fit(mapLayer.getSource().getImageExtent())
            };
            // begin loading image
            img.src = url;
        };
        setImageSource(mapUrl);

        // map
        let map = new ol.Map({
            target: 'snapshot-map-' + mapId,
            controls: ol.control.defaults().extend([new ol.control.ScaleLine({units: 'metric'}),
                                                    ]),
            layers: [mapLayer,snapshotLayer],
            view: new ol.View({
                projection,
                center: [0,0], //getCenter(extent),
                zoom: 2
            })
        });

        // add map data
        function addLayerData(data) {
            feats = new ol.format.GeoJSON().readFeatures(data, {});
            // add and zoom the data
            snapshotLayer.getSource().addFeatures(feats);
            map.getView().fit(snapshotLayer.getSource().getExtent());
        };
        let snapshotUrl = "{% url 'api_snapshots' %}?ids=" + snapshotIds.join(',');
        fetch(snapshotUrl).then(resp=>resp.json()).then(data=>addLayerData(data));
        
    }

    // get data on startup
    nameList = {{ names|safe }};
    console.log(nameList);
    getTrackData(nameList);

</script>


{% endblock %}
