{% extends "templates/base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>geoBoundary Tracker</h1>
            <p>Open-source community-driven database for tracking changes to political administrative
                boundaries.</p>
        </header>
        <p>Built by the <a href="https://github.com/wmgeolab/geoBoundaries/graphs/contributors">community</a> and <a href="https://geolab.wm.edu">William & Mary geoLab</a>, the geoBoundary Tracker
            is an online tool and database tracking and reconstructing how boundaries (i.e., state, county)
            change over time for every country in the world. We currently track approximately 1 million boundaries within over 200 entities,
            including all 195 UN member states. All boundaries are available to view or download in
            common file formats, including
            shapefiles;
            the only requirement for use is <a href="index.html#citation">acknowledgement</a>.
        </p>
    </div>
</section>





<!-- Explore the data -->
<section>
    <header class="major">
        <h2 id="explore-data">Explore the Data</h2>
    </header>
    <div>
        <p>
            Click a country below to explore its administrative boundaries.
        </p>
        <div id="map">
        </div>
        <div style="height:400px; overflow:auto; margin-top:50px">
            <table style="width:100%">
                <thead>
                    <th>Country</th>
                    <th>Boundaries</th>
                    <th>Sources</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for country in countries %}
                        <tr>
                            <td>{{ country }}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="button small" href="" target="_blank">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<style>
    #map {
        width: 100%;
        height: 400px;
    }
</style>

<script>
    /////////////
    // main country map

    // layer
    var countryStyle = new ol.style.Style({
        fill: new ol.style.Fill({
            color: 'rgb(6,75,52)'
        }),
        stroke: new ol.style.Stroke({
            color: 'white',
            width: 0.5,
        }),
    });
    var countryLayer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: countryStyle,
    });

    // labelling
    var countryLabelStyle = new ol.style.Style({
        geometry: function(feature) {
            // create a geometry that defines where the label will be display
            var geom = feature.getGeometry();
            if (geom.getType() == 'Polygon') {
                // polygon
                // place label at the bbox/center of the polygon
                var extent = feature.getGeometry().getExtent();
                var newGeom = ol.geom.Polygon.fromExtent(extent);
            } else {
                // multi polygon
                // place label at the bbox/center of the largest polygon
                var largestGeom = null;
                var largestArea = null;
                for (poly of geom.getPolygons()) {
                    var extent = poly.getExtent();
                    var extentGeom = ol.geom.Polygon.fromExtent(extent);
                    var extentArea = extentGeom.getArea();
                    if (extentArea > largestArea) {
                        largestGeom = extentGeom;
                        largestArea = extentArea;
                    };
                };
                var newGeom = largestGeom;
                
            };
            return newGeom;
        },
        text: new ol.style.Text({
            //font: '12px Calibri,sans-serif',
            fill: new ol.style.Fill({ color: '#000' }),
            stroke: new ol.style.Stroke({
                color: '#fff', width: 2
            }),
            overflow: true,
        }),
    });

    // data
    countryData = {{ countries_geojson|safe }};
    if (countryData) {
        feats = new ol.format.GeoJSON().readFeatures(countryData, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
        countryLayer.getSource().addFeatures(feats);
    };

    // map
    var map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults().extend([new ol.control.FullScreen(),
                                                new ol.control.ScaleLine({units: 'metric'}),
                                                ]),
        layers: [
        new ol.layer.Tile({
            source: new ol.source.XYZ({
                attributions: 'Satellite Imagery from Google',
                url:
                'http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}',
                maxZoom: 20,
                crossOrigin: 'anonymous' // necessary for converting map to img during pdf generation: https://stackoverflow.com/questions/66671183/how-to-export-map-image-in-openlayer-6-without-cors-problems-tainted-canvas-iss
            })}),
            countryLayer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([0,0]),
            zoom: 1
        })
    });

    if (countryData) {
        map.getView().fit(countryLayer.getSource().getExtent());
    };

    map.on('pointermove', function(evt) {
        // get feat at pointer
        let cursorFeat = null;
        map.forEachFeatureAtPixel(evt.pixel, function(feature, layer) {
            cursorFeat = feature;
        });
        // if any feat was found
        if (cursorFeat != null) {
            // clear any existing feature text
            countryLayer.getSource().forEachFeature(function (feature) {
                feature.setStyle(countryStyle);
            });
            // update the text style for the found feature
            var label = cursorFeat.get('name');
            var labelStyle = countryLabelStyle.clone();
            labelStyle.getText().setText(label);
            cursorFeat.setStyle([countryStyle,labelStyle]);
        };
    });

</script>





<!-- Sponsors -->
<section id="banner">
    <div class="content" id="sponsors">
        <header>
            <h1>Partners, Sponsors & Contributors</h1>
            <p>Thanks to our partners, sponsors, and <a
                    href="https://github.com/wmgeolab/geoBoundaries/graphs/contributors">community of
                    contributors</a> for making geoBoundaries possible. </p>
        </header>

            <span style="width:300px !important; float:left; text-align:center;"><img style="max-height:80px;max-width:300px;height:auto;width:auto;vertical-align:middle;margin:10px 10px 10px 10px;"
                        src="{% static 'images/wm.png' %}" alt=""></span>

    </div>
</section>

{% endblock %}
